 .fade-up {
  transform: translateY(120px);
  opacity: 0;
  transition: 0.9s;
}
.up {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.9s;
}
.fade-right {
  transform: translateX(100px);
  opacity: 0;
  transition: 0.9s;
}
.right {
  transform: translateX(0);
  opacity: 1;
  transition: 0.9s;
}
.fade-left {
  transform: translateX(-100px);
  opacity: 0;
  transition: 0.9s;
}
.left {
  transform: translateX(0);
  opacity: 1;
   transition: 0.9s;
}
